.navbar{
    height:70px;
    background:#111827;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 30px;
    border-radius:15px;
    margin-bottom:30px;
}

.navbar-left h2{
    color:white;
}

.navbar-right{
    display:flex;
    align-items:center;
    gap:20px;
}

.search-box{
    width:250px;
    padding:10px 15px;
    border:none;
    border-radius:10px;
    outline:none;
}

.profile{
    background:#2563eb;
    color:white;
    padding:10px 18px;
    border-radius:10px;
    cursor:pointer;
}